/* Estilo semelhante ao da Netflix para o elemento select */
.custom-input {
  position: relative;
  width: 300px;
}

.selected-option {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px;
  display: inline-flex;
  align-items: center;
  color: white;
}

.selected-option span {
  margin-right: 4px;
}

.selected-option button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin-left: 4px;
  color: white;
}

.selected-option button:hover {
  color: red;
}

.custom-select-wrapper {
  position: relative;
  width: 100%;
}

.custom-select-wrapper select {
  width: 100%;
  padding: 8px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #222;
  color: white;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-select-wrapper select:focus {
  outline: none;
  border-color: #0071eb;
}

/* Estilizando a seta do dropdown */
.custom-select-wrapper:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  transform: translateY(-50%);
}
